
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

	window.onload = function() {
		heightOfWindow = $(window).height();
		$('.top').css("height",heightOfWindow);
		$('#content').css("height",heightOfWindow);
		//$('#content').css("padding-top",(heightOfWindow-250)/2);
		$('#content-inner').css("margin-top",(heightOfWindow-30-500)/2);
		$('#content-inner').css("margin-bottom",(heightOfWindow-30-500)/2);
		
		//$('#content-inner').css("top", (heightOfWindow-500)/2);
		$('#name').hover(function() {
			$('#name').html("@REFRACTIX");
		}, function() {
    		$('#name').html("ALEX FELDER");
  		});



		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 250);
		        return false;
		      }
		    }
		  });
		});
	}

</script>



<body>

<div class="panel top">
	<div class="title-container">

		<!--<div class="logo">
			<div class="pulse">
			  <div class="ripple"></div>
			</div>
		</div>
		-->

		<div class="title">
			<div style="height: 75px; width: 500px; background-color: #0076B7; padding-top:10px;">
				<h1>&#160;<span style="font-family: Muro; margin-top: 10px;">*</span>
					<span id="name">ALEX FELDER</span></h1>
			</div>
			<div>
				<p>PYTHON <span class="blueify">//</span> DJANGO <span class="blueify">//</span> 
				HTML <span class="blueify">//</span> CSS <span class="blueify">//</span> DESIGN</p>
			</div>
		</div>

		<div class="aboutme">
			<p>I'm a systems admin, graphic designer, and python programmer.</p>
			<p>I'm well versed in the building and maintaining of computer systems running a linux based OS. I also specialize in developing websites on python-based web frameworks.</p>
		</div>

	</div>

	<a href="#content">
		<div id="advancePage">
			<div id="advancePageInner"></div>
		</div>
	</a>

</div>


<!--
<div class="panel" id="strip">
	<div class="nav-container">
		<a href="#bottom"><div class="nav-button"><p>About</p></div></a>
		<a href="posts"><div class="nav-button"><p>Blog</p></div></a>
		<a href=""><div class="nav-button"><p>Portfolio</p></div></a>
		<a href=""><div class="nav-button"><p>Projects</p></div></a>
		<a href=""><div class="nav-button"><p>Contact</p></div></a>
	</div>
</div>
<div class="strip-shadow"></div>
-->



<div id="content" class="panel">
	<div id="content-inner">
		
		<!--<h2>My name is Alex Felder</h2>
		<p>I'm a programmer and a designer.</p> 
		<p>I work mostly in <a href="">Python</a> at the moment but have experience with 
		<a href="">Java</a>, <a href="">Lua</a>, and <a href="">Javascript</a>.
		<p>Web design and development is my forte. I have extensive experience in 
		the <a href="">Django</a> and <a href="">Flask</a> web frameworks as well as fluency in
		 HTML and CSS.</p>


		<div class="icon-container">
			<div class="icon python"></div>
			<div class="icon photoshop"></div>
			<div class="icon illustrator"></div>
			<div class="icon"></div>
			<div class="icon"></div>
			<div class="icon"></div>
		</div>

		<div id="dock-left"></div>

		</p>-->

		<div class="gridSquare" id="chathamhome">  
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>  
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>

		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>
		<div class="gridSquare">
			<div class="hoverGridSquare fade" id="chathamhome-hover"></div>
		</div>

	</div>

	<div class="footer">
		<p>&#169; 2013 Alex Felder</p>
	</div>

</div>
</body>



</html>

